.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 66.5px;
}
.effect{
    /* width: 26px;
    height: 26px;
    left: 174px;
    top: 636px;
} */